.main__div__DriverResults {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
}

.main__div__DriverResults h1 {
    color: var(--text);
    margin: 0 0 5px 0;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

.main__div__DriverResults .hide {
    display: flex;
    padding: 20px 0;
    width: 100%;
}

.main__div__DriverResults .hide .hideBtn {
    background-color: var(--back-dark);
    border-radius: 5px;
    color: var(--text);
    font-size: 1rem;
    height: 25px;
    margin: 0 auto;
    min-width: 150px;
    width: 12%;
}

.main__div__DriverResults .hide .hideBtn:hover {
    background-color: var(--btn-bG-c);
    cursor: pointer;
}

.main__div__DriverResults .btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main__div__DriverResults .btn {
    background-color: var(--back-dark);
    border-radius: 5px;
    color: var(--text);
    font-size: 1rem;
    height: 25px;
    margin: 5px 1%;
    min-width: 90px;
    width: 8%;
}

.main__div__DriverResults .btn:hover {
    background-color: var(--btn-bG-c);
    cursor: pointer;
}