.main__div__DriverResults {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: solid violet;
}

.main__div__DriverResults h1 {
    border: solid red;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 20px 0;
}

.main__div__DriverResults .responsive__container {
    border: solid black;
}

.main__div__DriverResults .hide {
    border: solid brown;
    width: 100%;
    display: flex;
    padding: 20px 0;
}

.main__div__DriverResults .hide .hideBtn {
    width: 12%;
    min-width: 150px;
    margin: 0 auto;
    height: 25px;
    border-radius: 5px;
}

.main__div__DriverResults .hide .hideBtn:hover {
    cursor: pointer;
}

.main__div__DriverResults .btns {
    border: solid gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main__div__DriverResults .btn {
    width: 8%;
    min-width: 90px;
    margin: 5px 1%;
    height: 25px;
    border-radius: 5px;
}

.main__div__DriverResults .btn:hover {
    cursor: pointer;
    background-color: #ddd;
}